
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body{
	height: 100%;
}
body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

/* Layout Element Colors
================================ */

.main-header       { background-color: black; }

.main-nav a        { background-color: black; }
.primary-content   { background-color:  black;  }
.secondary-content { background-color:  black;  }
.main-footer       { background-color:  black;  }

/* Header, Banner and Footer Layout
================================ */

.main-wrapper {
	width: 90%;
	margin: auto;
}
.main-header {
	min-height: 100px;
	padding: 15px;
}
.main-logo,
.main-nav ul {
	float: left;
}
.main-nav ul {
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 190px;
	
}
.main-logo {
	margin: 0 50px 0 0;
}
.main-logo a, 
.main-nav a {
	display: block;
	color: grey;
	text-decoration: none;
	text-align: center;
	padding: 5px 6px;
	border-radius: 5px;
}
.main-banner {
	background:  black;
	text-align: center;
	padding: 95px 95px;
}
.main-footer {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
body  {
    background-image: url("http://wallpaperest.com/wallpapers/old-world-map-ship_132058.jpg");
    background-color: #cccccc;
}
/* Column Layout
================================ */

.col {
	padding: 20px;
}

/* Media Queries
================================ */

@media (max-width: 768px) {
	.main-wrapper,
	.main-nav ul, 
	.main-logo {
		width: initial;
		height: initial;
	}
	.main-logo {
		margin-right: 0;
	}
	.extra-content {
		display: none;
	}
}


